
*{
    margin:0;
    padding:0;
    font-family:'SF';
    font-weight: 400;
}
body{
    background-color: #e4e4e4;
}

.home__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e4e4e4;
    height: 100vh;
    width: 100vw;
}
.home__title{
    text-align: center;
    font-family: 'SF';
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 800;
    opacity: 0;
    animation: slideTop 0.5s ease-in-out 0.5s forwards;
}
.home__button{
    margin-top: 20px;
    border: 0px;
    transition: 0.1s all ease-in-out 0s;
    color:#fff;
    background-color: #171717;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    opacity: 0;
    animation: slideTop 0.5s ease-in-out 0.7s forwards;
}
.home__button:hover{
    background-color: #2e2e2e;
    color:white
}

.about__title{
    font-weight: 800;
    font-size: 35px;
    opacity: 0;
    animation: slideTop 0.5s ease-in-out 0.5s forwards;
}
.about__desc{
    font-size: 15px;
    color:#5f5f5f;
    opacity: 0;
    animation: slideTop 0.5s ease-in-out 0.7s forwards;
}

.todo__title__text{
    font-weight: 800;
    font-size: 22px;
    margin-top: 10px;
}
.todo__maingrid{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo__add{
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    position: relative;
}
.todo__col_span_2{
    grid-column-start: 1;
    grid-column-end: 3;
}
.todo__todaycontainer{
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    width: 400px;
    padding: 10px;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
.todo__tasklist{
    list-style: none;   
    height: 100%;
    overflow-y: scroll;
}
.todo__tasklist::-webkit-scrollbar{
    display: none;
}
.todo__taskcontainer{
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 0px 10px 0px;
    transition: all 0.1s ease-in-out 0s;
}
.todo__taskcontainer:hover{
    background-color: #d8d8d8;
}
.todo__taskcheck{
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 3px;
}
.todo__tasktext{
    font-size: 17px;
    font-weight: 500;
}
.todo__taskdate{
    margin-top: 2px;
    font-size: 12px;
    color:#5f5f5f;
    font-weight: 300;
}
.todo__add_input{
    padding:10px;
    border-radius: 5px;
    border: 1px #c8c8c8 solid;
    width: 100%;
}
.todo__add_button{
    margin-left: 5px;
    height: 100%;
    width: 50px;
    background-color: #171717;
    border:0px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out 0s;
}
.todo__add_button:hover{
    background-color: #2e2e2e;
}




@keyframes slideTop {
    0%{
        opacity: 0;
        margin-top: 40px;
    }
    100%{
        opacity: 1;
        margin-top: 20px;
    }
}